<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675731155768-b0j8jr035oe7oviuke0rflpq9q2ckiib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675731155768-b0j8jr035oe7oviuke0rflpq9q2ckiib</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>675731155768-7pbk0sqbjd83t6d5qcql1t9tku659jo1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiN5dE7Di7F51Je0v0NBYZPx2gDRyiwzE</string>
	<key>GCM_SENDER_ID</key>
	<string>675731155768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-b0cd4</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-b0cd4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675731155768:ios:de54780e88bb1803c66fcd</string>
</dict>
</plist>